
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-block-end: 1px solid var(--accent-color);
    font-family: var(--font-family);
}



@media  screen and (max-width: 400px) {
    .header {
        display: flex;
        padding-left: 20px;
        flex: wrap;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}
