.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-block-end: 1px solid var(--accent-color);
}

@media (width <= 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
