.header__title{
    font-family: "FeatureMono-Black";
    text-align: right;
}

@media  screen and (max-width: 400px) {
    .header__title {
        font-family: var(--font-family);
        text-align: left;
        font-size: 16px;
    }
}
    