.header__logo {
  width: 96px;
  height: 24px;
  background-image: url("../../../images/vector/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
