.profile-info__title {
  font-size: 40px;
  line-height: var(--line-height-main);
  margin-block-end: 10px;
  max-width: 380px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width <= 600px) {
  .profile-info__title {
    font-size: 30px;
    white-space: wrap;
  }
}
