.popup__close-icon {
  width: 28px;
  height: 27px;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -30px;
  background: transparent url("../../../images/vector/close-btn.svg") no-repeat
    center / cover;
  border: none;
  cursor: pointer;
}

@media (width <= 600px) {
  .popup__close-icon {
    right: 0;
  }
}
